/* La primera diferencia con el video fue: el reset de los valores y la seleccion de un font-family*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* La segunda diferencia fue selanar las propiedades de altura y ancho de las etiquetas html y body 

Posteriormente le aplico a body las propiedades para el fondo de madera*/

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

/* La tercera diferencia fue asignarle a <main> valores de altura y position: relative */

main {
    position: relative;
    height: 100vh;
}

/* Aqui para la seccion del telefono trabajo con las propiedas para centrar veticalmente con ABSOLUTE. */

section#telefono {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 311px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#pantalla {
    position: relative;
    top: 80px;
    left: 22.5px;
    width: 267px;
    height: 472px;
}

section#redes_sociales {
    position: absolute;
    right: 80px;
}

ul {
    list-style: none;
}

li {
    margin-top: 20px;
}

img.logo {
    transition: all 0.5s ease;
    border-radius: 50%;
    width: 50px;
    box-sizing: border-box;
    cursor: pointer;
}

img.logo:hover {
    border: 2px solid rgb(190, 188, 188);
    transform: translate(-4px, -4px);
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.74);;
}